<div id="hotspotModal" class="modal">

    <div class="modal-content">

        <div class="modal-header">

            <h2 id="hotspotModalTitle">
                Crear / Editar navegación
            </h2>

            <button
                type="button"
                class="modal-close"
                onclick="closehotspotModal()">
                ×
            </button>

        </div>

        <div class="modal-body">

            <form id="hotspotForm" class="form">

                <input
                    type="hidden"
                    id="id_hotspots"
                >

                <div class="form-grid">

                    <div class="form-group">

                        <div class="form-group">

                            <label>Escena origen <span class="required">*</span></label>

                            <div class="image-selector">

                                <img
                                    id="scenePreviewFrom"
                                    src=""
                                    style="
                                        width:100%;
                                        max-height:220px;
                                        object-fit:contain;
                                        background:#00000040;
                                        border-radius:8px;
                                        border:1px solid #ddd;
                                    "
                                >

                                <div>

                                    <button
                                        type="button"
                                        class="btn"
                                        onclick="chooseSceneFrom()">

                                        Seleccionar escena

                                    </button>

                                    <button
                                        type="button"
                                        class="btn btn-secondary hidden"
                                        onclick="uploadSceneImage()">


                                        Subir nueva

                                    </button>

                                </div>

                            </div>

                            <input
                                type="hidden"
                                id="imagen_from_id">

                            <input
                                type="hidden"
                                id="imagen_from_url">

                            <!-- Mensaje de error -->
                            <small
                                id="imagenfromError"
                                class="error-message"
                                style="display:none;">

                                Debes seleccionar una escena. <span class="required">*</span>

                            </small>

                        </div>

                    </div>

                    <div class="form-group">

                        <div class="form-group">

                            <label>Escena destino <span class="required">*</span></label>

                            <div class="image-selector">

                                <img
                                    id="scenePreviewTo"
                                    src=""
                                    style="
                                        width:100%;
                                        max-height:220px;
                                        object-fit:contain;
                                        background:#00000040;
                                        border-radius:8px;
                                        border:1px solid #ddd;
                                    "
                                >

                                <div>

                                    <button
                                        type="button"
                                        class="btn"
                                        onclick="chooseSceneTo()">

                                        Seleccionar escena

                                    </button>

                                    <button
                                        type="button"
                                        class="btn btn-secondary hidden"
                                        onclick="uploadSceneImage()">


                                        Subir nueva

                                    </button>

                                </div>

                            </div>

                            <input
                                type="hidden"
                                id="imagen_to_id">

                            <input
                                type="hidden"
                                id="imagen_to_url">

                            <!-- Mensaje de error -->
                            <small
                                id="imagentoError"
                                class="error-message"
                                style="display:none;">

                                Debes seleccionar una escena. <span class="required">*</span>

                            </small>

                        </div>

                    </div>

                    <div class="form-group">

                        <label>Título <span class="required">*</span></label>

                        <input
                            type="text"
                            id="title"
                            required
                        >

                    </div>

                    <!-- <div class="form-group">

                        <label>Icono <span class="required">*</span></label>

                        <select id="icon_id"></select>

                    </div> -->

                    <div class="form-group">

                        <label>Yaw <span class="required">*</span></label>

                        <input
                            type="number"
                            step="any"
                            id="yaw"
                            required
                        >

                    </div>

                    <div class="form-group">

                        <label>Pitch <span class="required">*</span></label>

                        <input
                            type="number"
                            step="any"
                            id="pitch"
                            required
                        >

                    </div>

                    <div class="form-group">

                        <label>Rotación <span class="required">*</span></label>

                        <input
                            type="number"
                            step="any"
                            id="rotation"
                            required
                        >
                        <small id="rotationHint">Dirección flecha navegación (-) izquierda (+) derecha.</small>

                    </div>

                </div>

                <div class="form-group">

                    <label>Descripción</label>

                    <textarea id="description" rows="5"></textarea>

                </div>

            </form>         
        
        </div>

        <div class="modal-footer">

            <button
                type="button"
                class="btn btn-secondary"
                onclick="closehotspotModal()">

                Cancelar

            </button>

            <button
                type="submit"
                form="hotspotForm"
                class="btn btn-primary">

                Guardar

            </button>

        </div>

    </div>

</div>