<div id="permisoModal" class="modal">

    <div class="modal-content">

        <div class="modal-header">

            <h2>
            Crear / Editar Permiso
            </h2>

            <button
            class="modal-close"
            onclick="closePermisoModal()">
            ×
            </button>

        </div>

        <div class="modal-body">

            <form id="permisoForm">

                <input 
                type="hidden"
                id="id_permiso">

                <div class="form-group">

                    <label>
                    Nombre permiso
                    </label>

                    <input
                    id="nombre_permiso"
                    required
                    >

                </div>

                <h3>
                Escenas permitidas
                    <span id="permisoCounter" class="permission-counter">
                        🟢 0 ⚪ 0
                    </span>
                </h3>

                <div
                id="permisoPermissionsGrid"
                class="permission-tree">
                </div>

            </form>

        </div>

        <div class="modal-footer">

            <button
            class="btn-cancel"
            onclick="closePermisoModal()">

            Cancelar

            </button>

            <button
            class="btn-save"
            form="permisoForm">

            Guardar

            </button>

        </div>

    </div>

</div>