<div id="sceneModal" class="modal">

    <div class="modal-content">

        <div class="modal-header">

            <h2 id="sceneModalTitle">
                Crear / Editar escena
            </h2>

            <button
                type="button"
                class="modal-close"
                onclick="closeSceneModal()">
                ×
            </button>

        </div>

        <div class="modal-body">

            <form id="sceneForm" class="form">

                <input
                    type="hidden"
                    id="id_scene"
                >

                <div class="form-grid">

                    <div class="form-group">

                        <label>Tipo <span class="required">*</span></label>

                        <select id="kind_id" required><option value="">Cargando tipos...</option></select>

                    </div>

                    <div class="form-group">

                        <label>Torre <span class="required">*</span></label>

                        <select id="tower_id" required><option value="">Cargando torres...</option></select>

                    </div>

                    <div class="form-group">

                        <label>Piso <span class="required">*</span></label>

                        <select id="floor_id" required><option value="">Cargando pisos...</option></select>

                    </div>

                    <div class="form-group">

                        <label>Orientación <span class="required">*</span></label>

                        <select id="orientation_id" required><option value="">Cargando orientaciones...</option></select>

                    </div>

                </div>

                <div class="form-group">

                    <div class="form-group">

                        <label>Imagen panorámica <span class="required">*</span></label>

                        <div class="image-selector">

                            <img
                                id="scenePreview"
                                src=""
                                style="
                                    width:100%;
                                    max-height:220px;
                                    object-fit:cover;
                                    border-radius:8px;
                                    border:1px solid #ddd;
                                "
                            >

                            <div>

                                <button
                                    type="button"
                                    class="btn"
                                    onclick="chooseSceneImage()">

                                    Seleccionar imagen

                                </button>

                                <button
                                    type="button"
                                    class="btn btn-secondary hidden"
                                    onclick="uploadSceneImage()">


                                    Subir nueva

                                </button>

                            </div>

                        </div>

                        <input
                            type="hidden"
                            id="imagen_id">

                        <input
                            type="hidden"
                            id="imagen_url">
                        
                        <!-- Mensaje de error -->
                        <small
                            id="sceneError"
                            class="error-message"
                            style="display:none;">

                            Debes seleccionar una iamgen de panorámica. <span class="required">*</span>

                        </small>

                    </div>

                </div>

                <div class="form-group">

                    <label>Descripción <span class="required">*</span></label>

                    <textarea
                        id="description"
                        rows="5" required></textarea>
                    </textarea>

                </div>
            </form>
        </div>

        <div class="modal-footer">

            <button
                type="button"
                class="btn btn-secondary"
                onclick="closeSceneModal()">

                Cancelar

            </button>

            <button
                type="submit"
                form="sceneForm"
                class="btn-save">

                Guardar

            </button>

        </div>

    </div>

</div>